@import '../../scss/base.scss';

.contact {
  background-image: linear-gradient(to right, $color-pearl, darken($color-pearl, 20%));

  &__h1 {
    @include h1Section(darken($color-almost-black, 10%));
    @include underline($color-blue, 2px, 1rem);
  }

  &__message {
    @include h3Section(darken($color-almost-black, 10%));
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
    &__single {
      margin: 0.5rem 0;
      color: darken($color-almost-black, 10%);
      font-size: 1.6rem;
      word-spacing: 1px;
      &__icon {
        margin-right: 1rem;
        font-size: 2rem;
        position: relative;
        top: -1px;
      }
    }
  }
  &__links {
    display: flex;
    justify-content: center;
    &__single {
      margin: 1rem 0;
      color: darken($color-almost-black, 10%);
      font-size: 3rem;
      word-spacing: 1px;
      &__icon {
        border-radius: 0.5rem;
        @include flexCenter;
        width: 4rem;
        height: 4rem;
        margin: 0 2rem;
        transition: 0.3s;
        &:hover, &:active {
          transform: scale(1.1);
        }
        &.FaGithub {
          color: $color-white;
          background-color: darken($color-almost-black, 10%);
          
        }
        &.FaFacebook {
          color: $color-white;
          background-color: #3b5998;
        }
        &.FaAngleDoubleUp {
          color: darken($color-almost-black, 10%);
          border: 2px solid darken($color-almost-black, 10%);
          background-color: $color-white;
          &:hover, &:active {
            background-color: darken($color-almost-black, 10%);
            color: $color-white;
          }
        }
      }
    }
  }
}

