@import '../../scss/base.scss';

.portfolio {
  background-color: $c-background-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &__h1 {
    @include h1Section($c-background-text);
    @include underline($c-primary-dark, 1rem);
  }
  &__projects {
    display: flex;
    flex-direction: column;
    @include media('md') {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 2px;
  background-color: $c-background-secondary;
  @include boxShadow;
  @include media('md') {
    width: calc(50% - 2rem);
  }
  &:nth-child(odd) {
    @include media('md') {
      margin-right: 2rem;
    }
  }

  &__img {
    margin: 1rem;
    width: calc(100% - 2rem);
    @include boxShadow;
    &--vertical {
      max-height: 30rem;
      margin: 1rem auto;
      width: auto;
    }
  }
  &__title {
    @include h3Section($c-background-text)
  }
  &__technologies {
    @include h4Section($c-background-text-light);
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    &__link {
      @include boxShadow;
      margin: 0.2rem 1rem;
      width: 12rem;
      padding: 0.5rem 0rem;
      border-radius: 1rem;
      font-size: 1.5rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 600;
      transition: all .3s;
      &:hover, &:active {
        letter-spacing: 3px;
      }
      &--code {
        color: $c-primary-text;
        background-color: $c-primary;
        &:hover, &:active {
          background-color: $c-primary-dark;
          letter-spacing: 3px;
        }
      }
      &--live {
        color: $c-secondary-text;
        background-color: $c-secondary;
        &:hover, &:active {
          color: $c-secondary-dark-text;
          background-color: $c-secondary-dark;
          letter-spacing: 3px;
        }
      }
    }
  }
} 
