@import '../../scss/base.scss';

.nav {
  width: 100%;
  position: fixed;
  height: 50px;
  background-color: $c-navbar;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  &__author {
    @include absolute(5px, 0.5rem);
    width: 42px;
    height: auto;
    border-radius: 5px;
    transition: filter 0.3s;
    &:hover {
      filter: brightness(80%);
    }
  }
}