//Color Palette#3796

$color-blue: #11A1E2;
$color-green: #64d772;
$color-red: #C12A00;
$color-orange: #EE7002;
$color-yellow: #FEE100;
$color-pearl: #EFEEEA;
$color-white: #FFF;
$color-almost-black: #444;

$c-primary:#1976d2;
$c-primary-text:#fff;
$c-primary-light:#63a4ff;
$c-primary-light-text:#04070a;
$c-primary-dark:#004ba0;
$c-primary-dark-text:#fff;
$c-secondary:#ffeb3b;
$c-secondary-light:#ffff72;
$c-secondary-dark:#c8b900;
$c-secondary-text:#0e0d00;
$c-background:#fff;
$c-background-primary:#bbdefb;
$c-background-secondary:#fff9c4;
$c-background-text:#04070a;
$c-placeholder:#666;
$c-shadow:#333;