$c-primary:#1976d2;
$c-primary-text:#fff;
$c-primary-light:#63a4ff;
$c-primary-light-text:#05182b;
$c-primary-dark:#004ba0;
$c-primary-dark-text:#fff;

$c-secondary:#e17d1b;
$c-secondary-light:#ffad4e;
$c-secondary-dark:#a95000;
$c-secondary-text:#0d0702;
$c-secondary-dark-text:#fff;

$c-background-primary:#fff;
$c-background-secondary:#E3F2FD;
$c-background-text:#080808;
$c-background-text-light:#444;
$c-darken: linear-gradient(
  to bottom,
  rgba(#004ba0,0.85),
  rgba(#004ba0,0.85)
);
$c-hamburger: $c-secondary;
$c-menu: $c-primary-light-text;