//Color Palette#3796

$color-blue: #11A1E2;
$color-green: #64d772;
$color-red: #C12A00;
$color-orange: #EE7002;
$color-yellow: #FEE100;
$color-pearl: #EFEEEA;
$color-white: #FFF;
$color-almost-black: #444;