@import '../../scss/base.scss';

.skills {
  background-color: $c-background-secondary;
  &__h1 {
    @include h1Section($c-background-text);
    @include underline($c-primary-dark, 1rem);
  }
  &__logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 5%;
    &:last-of-type {
      @include underline($c-primary-dark, 1rem);
      margin-bottom: 2rem;
    }
    &__img {
      height: 7rem;
      width: auto;
      &.HTML5_logo {
        height: 6.7rem;
      }
      &.Sass_logo {
        height: 5.8rem;
        margin-left: 3rem;
      }
      &.React_logo {
        height: 5.8rem;
        margin-left: 1.5rem;
      }
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
    &__detail {
      background-color: $c-background-primary;
      padding: 0 2rem;
      margin: 1rem;
      border-radius: 0.2rem;
      @include boxShadow;
    }
    @include media(md) {
      flex-direction: row;
      flex-wrap: wrap;
      &__detail {
        flex-basis: calc(50% - 2rem);
      }
    }
    &__h3 {
      @include h3Section($c-primary);
    }
    &__p {
      @include pSection($c-background-text-light);
    }
  }
}